// Color Palette

$masterBackground: rgb(0, 0, 0);
$masterTextColor: white;
$masterTextShadow: 2px 2px 2px black;

#hide-props {
  display: none;
}

#layout-div {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../../../assets/saxophone-small.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: $masterBackground;
  color: $masterTextColor;
  .layout-h1 {
    font-size: 50px;
  }
  @media only screen and (min-width: 768px) {
    .layout-h1 {
      font-size: 70px;
    }
    #layout-div {
      background-image: url("../../../assets/saxophone.jpg");
    }
  }
}
