@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playfair+Display+SC&display=swap');

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Playfair Display SC', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

